.navbar {
  background-color: #0c396e !important;
}
.navbar .nav-link.active {
  background-color: #fff;
  color: #0c396e !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.navbar .nav-link {
  color: #fff !important;
  font-weight: bold;
}
.navbar .navbar-brand img {
  width: 100px;
}
@media (max-width: 990px) {
  .navbar-nav {
    margin-top: 20px;
  }
}
