.carousel-inner {
  height: fit-content;
}

.w-100 {
  width: 100% !important;
  height: 100vh;
}

.speical-prodcut img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.speical-prodcut .box {
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.7s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.speical-prodcut .box:hover {
  transform: translateY(10px);
  box-shadow: 0 0 10px 3px #eee;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}

.slide .carousel-item img {
  height: 100%;
  width: 100%;
  aspect-ratio: 5/2;
}
.video {
  background-color: #0c396e;
}
.video img {
  width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video .link {
  text-decoration: none;
  text-align: center;
  margin: 30px auto;
  display: block;
  background-color: #0762cd;
  width: fit-content;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
